{
    "extends": [
        "react-app",
        "react-app/jest",
        "airbnb",
    ],
    "settings": {
        "import/resolver": {
          "node": {
            "moduleDirectory": ["node_modules", "src"]
          }
        }
      }
}